<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="pt-BR">
<!--<![endif]-->

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="pingback" href="https: //domainname.com/xmlrpc.php" />
    <title>Scraping Tutors</title>
    <!--meta properties -->
    <meta name="description" content=" Your site description." />
    <!--detailed robots meta https://developers.google.com/search/reference/robots_meta_tag -->
    <meta name="robots" content="index, follow, max-snippet: -1, max-image-preview:large, max-video-preview: -1" />
    <link rel="canonical" href="" />
    <!--open graph meta tags for social sites and search engines-->
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="  Opengraph content 25 char are best" />
    <meta property="og:description" content="  #description." />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:image" content="images//hom-banner-compressed.jpg" />
    <meta property="og:image:secure_url" content="images//hom-banner-compressed.jpg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="660" />
    <!--twitter description-->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="." />
    <meta name="twitter:title" content="" />
    <meta name="twitter:site" content="@" />
    <meta name="twitter:image" content="images/hom-banner-compressed.jpg" />
    <meta name="twitter:creator" content="@" />
    <!--opengraph tags for location or address for information panel in google-->
    <meta name="og:latitude" content="" />
    <meta name="og:longitude" content="" />
    <meta name="og:street-address" content="" />
    <meta name="og:locality" content="" />
    <meta name="og:region" content="" />
    <meta name="og:postal-code" content="" />
    <meta name="og:country-name" content="" />
    <!--search engine verification-->
    <meta name="google-site-verification" content="" />
    <meta name="yandex-verification" content="" />
    <!--powered by meta-->
    <meta name="generator" content="" />
    <!-- Site fevicon icons -->
    <link rel="icon" href="images/icon/cropped-cropped-favicon-1-1-32x32.png" sizes="32x32" />
    <link rel="icon" href="images/icon/cropped-cropped-favicon-1-1-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon-precomposed" href="images/icon/cropped-cropped-favicon-1-1-180x180.png" />
    <meta name="msapplication-TileImage" content="images/icon/cropped-cropped-favicon-1-1-270x270.png" />
    <!--complete list of meta tags at - https://gist.github.com/lancejpollard/1978404 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
</head>

<body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="form-group d-flex justify-content-center">
        <img src="https://c8.alamy.com/comp/2E2PJKR/vector-logo-of-a-tutor-educational-courses-2E2PJKR.jpg" width="100px" alt="Tutors" class="img-thumbnail img-responsive">
    </div>

    <div class="container ">

        <form action="/login" method="POST" name="formulario">

            <div class="form-group">
                <div class="   col-md-6 offset-md-3">
                    <label> Email: </label>
                    <input type="text" maxlength="31" name="email" class="form-control " placeholder=" tutors@gmail.com" required="true">
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6 offset-md-3">
                    <label> Senha: </label>
                    <input type="password" name="password" class="form-control" placeholder="****" required="" maxlength="31">
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6 offset-md-3">
                    <label> Valor/Hora: </label>
                    <input class="form-control" type="number" min="10" max="150" maxlength="31" required step="10" placeholder="$ 000.00">
                </div>
            </div>

            <div class="form-group purple-border">
                <div class="col-md-6 offset-md-3">
                    <label for="mensagem">Mensagem</label>
                    <textarea placeholder="Mensagem para os alunos" class="form-control" id="mensagem" maxlength="1023" rows="3"></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6 offset-md-3">
                    <input type="submit" value="Login" href="" class="btn btn-primary" name="logar">
                    <div class="form-check">
                        <label> 
                          <input class="form-check-input" type="checkbox" value="" > Marter conectado?</label>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>